{% extends "base.html.twig" %}

{% block body %}
<div class="container text-center mt-3">
   <div class="row">
      <div class="col-md-4">
         <div class="card">
            <img src="{{ book.image }}" width="200" height="250">
         </div>
      </div>
      <div class="col-md-8">
         <div class="card">
            <div class="card-header">
               <h1 class="text text-primary"> Cart Info </h1>
            </div>
               <div class="card-body">
                  <table class="table table-bordered">
                     <tr>
                        <th>Book Title</th>
                        <th>Order Date</th>
                        <th>Order Quantity</th>
                        <th>Book Price</th>
                        <th>Total Price</th>
                     </tr>
                     <tr>
                        <td>{{ book.title }}</td>
                        <td>{{ date | date('d/m/Y')}}</td>
                        <td>{{ quantity }} </td>         
                        <td>{{ book.price }} $ </td>
                        {% set total = book.price * quantity %}
                        <td class="text text-danger">{{ total }} $ </td>
                     </tr>
                  </table>
               </div>  
               <div class="card-footer">
                  <a class="btn btn-success"
                  onclick="return confirm('Are you sure to order this book ?')";
                  >Order</a>
               </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}