{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-8 mt-3">
   <div class="row">
      <div class="col-md-4">
         <div class="card">
            <img src="{{ book.image }}" width="200" height="250">
         </div>
      </div>
      <div class="col-md-8">
         <div class="card">
            <div class="card-header">
               <h1 class="text text-primary text-center">{{ book.title }} </h1>
            </div>
            {% if book.quantity >= 1 %}
               <div class="card-body">
                  <h3 class="text text-info">Date: {{ book.date | date ('d/m/Y') }} </h3>
                  <h3 class="text text-danger">Price: {{ book.price }} $ </h3>
                  <h3 class="text text-success">In-stock: {{ book.quantity }} </h3>
                  <h3 class="text text-warning">Genre : 
                     {% if book.genre != null %}
                        <a href="{{ path('genre_detail', {'id': book.genre.id })}}">
                           {{ book.genre.name }} 
                        </a>
                     {% else %}
                        N/A
                     {% endif %}
                  </h3>
                  <h3 class="text text-warning">Author(s): </h3>
                  {% if book.authors != null %}
                       <ul>
                        {% for author in book.authors %}
                           <li>
                              <a href="{{ path('author_detail', {'id': author.id })}}">
                                 {{ author.name }}
                              </a>
                           </li>
                        {% endfor %}
                     </ul>
                  {% endif %}
               </div>
            {% else %}
               <div class="card-body">
                  <h3 class="text text-info">Date: {{ book.date | date ('d/m/Y') }} </h3>
                  <h3 class="text text-danger">Price: {{ book.price }} $ </h3>
                  <h3 class="text text-warning">Genre: 
                     {% if book.genre != null %}
                        <a href="{{ path('genre_detail', {'id': book.genre.id })}}">
                           {{ book.genre.name }} 
                        </a>
                     {% else %}
                        N/A
                     {% endif %}
                  </h3>
                  <h3 class="text text-warning">Author(s): </h3>
                  {% if book.authors != null %}
                       <ul>
                        {% for author in book.authors %}
                           <li>
                              <a href="{{ path('author_detail', {'id': author.id })}}">
                                 {{ author.name }}
                              </a>
                           </li>
                        {% endfor %}
                     </ul>
                  {% endif %}
               </div>
            {% endif %}       
         </div>
      </div>
   </div>
</div>
{% endblock %}