{% extends "base.html.twig" %}

{% block body %}
{# gọi biến session (được tạo ở controller) #}
{% set book = app.session.get('book') %}
{% set user = app.session.get('user') %}
<div class="container text-center mt-3">
   <div class="row">
      <div class="col-md-4">
         <div class="card">
            <img src="{{ book.image }}" width="200" height="250">
         </div>
      </div>
      <div class="col-md-8">
         <div class="card">
            <div class="card-header">
               <h1 class="text text-primary"> Order Detail </h1>
            </div>
               <div class="card-body">
                  <table class="table table-bordered">
                     <tr>
                        <th>Customer name</th>
                        <th>Book Title</th>
                        <th>Order Date</th>
                        <th>Order Quantity</th>
                        <th>Book Price</th>
                        <th>Total Price</th>
                     </tr>
                     <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ app.session.get('datetime') | date ('d/m/Y H:i:s')}}</td>
                        <td>{{ app.session.get('quantity') }} </td>         
                        <td>{{ book.price }} $ </td>
                        <td class="text text-danger">{{ app.session.get('totalprice') }} $ </td>
                     </tr>
                  </table>
               </div>  
               <div class="card-footer">
                  <a class="btn btn-success" href="{{ path('make_order')}}"
                     onclick="return confirm('Are you sure to order this book ?')";
                  >Make Order</a>
               </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}