{% set a = 3 %}
{% set b = 5 %}
{% set c = a + b %}
<h1>a = {{ a }} </h1>
<h1>b = {{ b }} </h1>
<h1>c = a + b = {{ a }} + {{ b }} = {{ c }}</h1>
{% set name = "Nguyen Van A" %}
<h1>Name : {{ name }} </h1>
{% set grade = 6.5 %}
<h1>Grade : {{ grade }}</h1>
{% if grade >= 5.0 %}
   <h1>Result : Pass </h1>
{% else %}
   <h1>Result : Fail </h1>
{% endif %}
{% for i in 1..10 %}
   {{ i }}
{% endfor %}
<br>
{% for a in 1..20 %}
   {% if a%2==0 %}
      <h3>{{ a }} : Even</h3>
   {% else %}
      <h3>{{ a }} : Odd</h3>
   {% endif %}
{% endfor %}

{% for i in 'a'|upper .. 'z'|upper %}
   {{ i }}
{% endfor %}

{% set university = "University of Greenwich" %}
<br>
{# convert text to upper case #}
{{ university|upper}}
<br>
{{ university|lower}}
<br>
{% set a = 1 %}
{% set b = 2 %}
{% set c = 3 %}
{% if a>=b and a>=c %}
   Max is a
{% elseif b>=a and b>=c %}
   Max is b
{% else %}
   Max is c
{% endif %}
<br>
Max is {{ max(a,b,c) }}
<br>
{% set list = [1,3,5,6,8,10,40,100,22] %}
Max value in list: {{ max(list) }}
<br>
Min value in list : {{ min(list)}}
<br>
Size of list: {{ list|length}}
<br>
Max : {{ max (1..50)}}